[submodule "projects/apple-notes-agent"]
	path = projects/apple-notes-agent
	url = https://github.com/1119204640/apple-notes-agent.git
[submodule "projects/fastapi-basics"]
	path = projects/fastapi-basics
	url = https://github.com/1119204640/fastapi-learning.git
